/*------- Header ------- */
#header-nav {
  background-color: #1f2d8a;
}

#header-nav a {
  color: #efe01f;
}

#nav-list a {
  color: #efe01f;
}
#nav-list a:hover {
  /*color: #1f2d8a;*/
  /*background-color: #efe01f;*/
  font-size: 1.5em
}

.navbar-toggler{
  border: 1px solid #61122f;
  border-color: #fff;
}

/* Set the border of menu button*/        
.custom-toggler.navbar-toggler { 
    border: 1px solid #efe01f;
} 
/* Setting the stroke to green using rgb values (0, 128, 0) */ 
.custom-toggler .navbar-toggler-icon { 
  background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239,224,31,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.navbar-brand {
  font-size: 2em;
}


/*------- Main Title ------- */
#title {
  margin: 30px auto;
  color: #841818;
}

/*------- Sections ------- */

.col-12{
  background-color: #f9f966;
  color: #841818;
  border: 2px solid #1f2d8a;
}

.col-12 div{
  padding: 20px;
}

